.space {
    width: 100%;
    height: 200px;
}
.send-message-wrapper {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 100px;
}
.send-message {
    border: 2px solid rgba(63, 68, 74);
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(63, 68, 74);
}
.send-message__title {
    width: 100%;
    text-align: center;
}
.send-message__title h4{
    font-weight: 600;
    font-size: 30px;
    margin: 25px 0;
}

/* Кнопка */
.pre-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.pre-button-wrapper a {
    text-decoration: none;
    color: rgb(38, 52, 118);
    padding: 15px;
    border: 2px solid rgb(38, 52, 118);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    border-radius: 23px;
    transition: 0.2s;
}
.pre-button-wrapper a:hover {
    background-color: rgb(38, 52, 118);
    color: rgb(237, 237, 237);
}



.footer {
    margin-top: 250px;
}