/* Пустой блок */
.space {
    width: 100%;
    height: 250px;
}

/* Блоки миссия, ценности, идея */

/* Блок миссия, идея */
.info-main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.info-wrapper {
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    padding: 0 20px;
}
.info__mission {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 200px;
}
.info__mission__title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.info__mission__title>h2 {
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}
.info__mission__text>p {
    padding: 0;
    margin: 0;
    font-size: 23px;
    text-align: center;
}
.info__mission__text span {
    font-weight: 600;
}

/* Анимация при скроле */
.element-animation {
    opacity: 0;
    transform: translateY(-100px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}

.footer {
    margin-top: 150px;
}