@media screen and (max-width: 1440px) {
    .footer {
        margin-top: 300px;
    }
}
@media screen and (max-width: 1024px) {
    .footer {
        margin-top: 200px;
    }
    .footer__refs {
        max-width: 650px;
        margin-left: 100px;
    }
    .footer__refs a {
        font-size: 16px;
    }
    .footer__ceo-name {
        margin-top: 30px;
    }
    .footer__ceo-name h2 {
        font-size: 18px;
    }
}
@media screen and (max-width: 786px) {
    .nav__menu-button:hover div {
        background-color: rgba(0, 0, 0, 0);
    }
    .footer__refs {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin-left: 0;
    }
    .footer__refs div {
        text-align: center;
        margin: 10px 0;
    }
    .drop-menu-wrapper {
        flex-direction: column;
    }
    .drop-menu-first-wrapper {
        width: 100%;
        margin-top: 10px;
    }
    .drop-menu-second-wrapper {
        width: 100%;
    }
    .drop-menu-first__refs a:last-child {
        margin-bottom: 10px;
    }
    .drop-menu-first__refs a:first-child {
        margin-top: 10px;
    }
}
@media screen and (max-width: 425px) {
    .nav {
        margin:  0 10px;
    }
    .nav1__logo-ref {
        width: 150px;
        left: calc(50% - 75px);
    }
    /* Страя версия выпадающего меню. */
    /* .drop-menu__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    } */
    .footer__logo {
        width: 200px;
        height: 70px;
        margin-bottom: 10px;
    }
    .footer__refs a {
        font-size: 14px;
    }
    .footer__ceo-name {
        padding: 0 10px;
    }
    .footer__ceo-name h2 {
        font-size: 15px;
    }
}